/* XS - max 575 */
/* SM - 576-767 */
/* MD - 768-991 */
/* LG - 992-1199 */
/* XL - 1200+ */

/* xs - phone */
/* sm - flipped phone */
/* md - ipad long */
/* lg - ipad short(normal) */
/* xl - pc */

html{
	font-family: sans-serif;
	font-size: 15pt;
	scroll-behavior: smooth;
}


/* -----------------------COMMON-------------------- */

.img-holder img{
	width: 100%;
}

a{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
	color: inherit;
}

header a, footer a{
	display: block;
}




/* -------------------header and navigation -----------*/

header{
	position: fixed;
	width: 100%;
	z-index: 999;
}

.header-shadow{
	/* box-shadow */
	-webkit-box-shadow: 0px -13px 19px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px -13px 19px 0px rgba(0,0,0,0.7);
	box-shadow: 0px -13px 19px 0px rgba(0,0,0,0.7);

	background-color: white;
	transition: 0.5s;
	transition-timing-function: linear;
	color: gray;
	text-shadow: 0px 0px 0px white;
}

.header-shadow nav ul li a{
	opacity: 0.7;
	transition: 0.5s;
	color: gray;
	text-shadow: 0px 0px 0px white;
}

.header-shadow nav ul li a:hover {
	border: 1px solid lightgrey;
}

.transparent{
	background-color: transparent;
	transition: 0.5s;
	transition-timing-function: linear;
}

.transparent nav ul li a{
	opacity: 0.8;
	color: white;
	transition: 0.5s;
	text-shadow: 1px 1px 1px black;
}

header nav{
	text-align: right;
	align-self: center;
	padding-right: 100px!important;
}

header nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header nav ul li{
	display: inline-block;
	font-size: 1.1em;
}

header nav ul li a{
	padding-left: 15px;
	padding-right: 15px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0);
}

header nav ul li a:hover{
	/* background-color: #e8d2e4; */
	transition: 0.3s;
	opacity: 1;
	border: 1px solid white;
}



/* ------------------------cover image--------------------- */

#cover{
	height: 100vh;
}

#cover img{
	width: 100%;
	position: fixed;
}

#cover-text{
	position: absolute;
	color: white;
	text-align: center;
	width: 100%;
	text-align: center;
	font-size: 2em;
	text-shadow: 1px 1px 2px black;
}

#cover button {
	background: none;
	border: 2px solid white;
	border-radius: 3px;
	color: white;
	font-size: 20px;
	transition: 0.3s;
	padding: 3px;
	padding-left: 15px;
	padding-right: 15px;
	text-shadow: 1px 1px 2px black;
	outline: none;
}

#cover button:hover {
	color: black;
	background-color: white;
	transition: 0.3s;
	text-shadow: 0px 0px 0px black;
}

#main-wrapper{
	position: relative;
	background-image: linear-gradient(#fff5d0, #70b7ffa8);
	margin: auto;
	padding-bottom: 20px;
}

@media only screen and (max-width: 767px){
	#cover-text{
		font-size: 1.5em;
	}

@media only screen and (max-width: 575px){
	#cover-text{
		font-size: 1em;
	}
}

}

/* ---------------------------MAIN STARTS HERE--------------- */

main section{
	padding-bottom: 60px;
}

.section-header{
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;

	padding-top: 30px;
	padding-bottom: 30px;
}

.row{
	margin: 0;
}

@media only screen and (max-width: 767px) {
	.section-header{
		letter-spacing: 3px;
	}
}

@media only screen and (max-width: 575px){
	.section-header{
		font-size: 1.5em;
	}
}



/* -----------WORKING TIME SECTION------------ */

#working-time{
	/* background-image: linear-gradient(cornsilk, white); */
}

#working-time .section-header{
	margin-bottom: 10px;
}

#working-time-content{
	text-align: center;
	margin-top: -30px;
}

#working-time-content i{
	font-size: 2em;
	margin-bottom: 20px;
	display: block;
}

#working-time-content div{
	display: inline-block;
	text-align: left;
}

#working-time-content div :nth-child(2), #working-time-content div :nth-child(3)  {
	display: block;
	text-align: left;
	font-size: 1.7em;
	font-weight: bolder;
}

#working-time-content div :nth-child(1),#working-time-content div :nth-child(4) {
	display: block;
	text-align: center;
}


/* ------------------SERVICES SECTION----------------- */

#services{
	justify-content: space-around;
	color: black;
	margin: auto;
	/* background-color: #350d4e; */
}

#services article{
	padding: 0;
}

#services .article-header{
	text-align: center;
	font-weight: bold;
	padding: 20px 0px;
	font-size: 1.1em;
	min-height: 50px;
}

/* small screen */
@media only screen and (max-width: 767px) {
  #services .article-header {
    margin-top: 50px;
  }
  #services .section-header{
  	padding-bottom: 0;
  }
}

.line {
	background-color: black;
	width: 50px;
	height: 5px;
	margin: auto;
	margin-bottom: 10px;
}

#services .article-content-wrapper {
	box-shadow: 5px 5px 20px -10px black;
	border-radius: 20px;
	background: white;
}

#services article img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#services article .article-content{
	padding: 15px;
	font-size: 17px;
}


/* ---------------------ADDS--------------------- */

.add{
	text-align: center;
	margin-top: 20px;
	/* margin-bottom: 20px; */
}

.mobile-add{
	display: none;
}

.thablet-add{
	display: none;
}

.desktop-add{
	display: block;
}


/* large screen */
@media only screen and (max-width: 1199px){
	.thablet-add{
		display: block;
	}
}


/* medium screen */
@media only screen and (max-width: 991px){
	.desktop-add{
		overflow: scroll;
	}
}

/*  small screen */
@media only screen and (max-width: 767px) {
	.desktop-add{
		display: none;
	}

	.thablet-add{
		display: none;
	}

	.mobile-add{
		display: block;
	}
}



/* -----------------ABOUT US SECTION-------------- */

#about-us{
	/* background-image: linear-gradient(white, cornsilk); */
}

#about-us .content{
	padding: 50px;
	text-align: justify;
	vertical-align: middle;
}

#about-us .col-md-6{
	align-self: center;

}

#about-us .img-holder{
	width: 80%;
}

/* small screen */
@media only screen and (max-width: 767px) {
	#about-us .img-holder{
		width: 100%;
	}
}
/* -------------------FOOTER-------------------------- */

footer{
	background-color: #2f2f2f;
	color: #878787;
	padding: 30px;
	position: relative;
	font-size: 17px;
}

.foorter-wrapper {
	margin: auto;
}


footer article .footer-header{
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 10px;
}

footer article ul{
	list-style-type: none;
	padding: 0px;
	margin: 0;
}

footer article ul li{
	line-height: 1.7em;
}

footer #map{
	width: 100%!important;
}

/* small screen */
@media only screen and (max-width: 767px) {
	footer{
		padding: 0;
	}

	footer article .footer-header{
		margin-top: 40px;
	}
}


/* ------------------MOBILE MENU--------------------- */

#mobile-menu-icon{
	border-radius: 5px;
	border-width: 2.5px;
	border-style: solid;
	opacity: 0.4;
	transition: 0.3s;
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
}

.transparent #mobile-menu-icon{
	color: white;
	opacity: 1;
}

.header-shadow #mobile-menu-icon{
	color: black;
}

.mobile-menu-icon-active{
	opacity: 1!important;
	transition: 0.3s;
}

#mobile-menu-icon span{
	display: block;
	margin: 5px;
	width: 30px;
	border: 2px solid;
}


#mobile-menu-icon .first-span{
	display: none;
}

#mobile-menu-icon .second-span{
	margin-top: 14px;
	transform: rotate(45deg);
	transition: 0.3s;
}

#mobile-menu-icon .third-span{
	position: relative;
	top: -9px;
	transform:  rotate(-45deg);
	transition: 0.3s;
}


@media only screen and (min-width: 768px){
	header nav{
		display:block!important;
	}
}

/* small screen */
@media only screen and (max-width: 767px){
	#mobile-menu-icon{
		display:block;
	}

	header nav{
		text-align: center;
		background-color: white;
		padding: 0px!important;
		color: black;
		text-shadow: none;
		display: none;
	}

	header nav ul li{
		display: block;
	}

	header nav ul li a{
		opacity: 1!important;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	header nav ul li a:hover{
		background-color: lightgray;
	}

	header #logo{
		margin: auto;
	}

	header #logo a img {
		width: 100%!important;
	}
}
